<!--
  Generated template for the AddMhsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Form Add Mahasiswa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="myForm" (ngSubmit)="doSimpanMhs(myForm.value)">
    <ion-list>
      <ion-item>
        <ion-label color="primary" stacked>NIM</ion-label>
        <ion-input type="text" placeholder="NIM Input" formControlName="txtNIM"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Nama</ion-label>
        <ion-input type="text" placeholder="Nama Input" formControlName="txtNama"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>No Telephon</ion-label>
        <ion-input type="tel" placeholder="No Telephone Input" formControlName="txtTelepon"></ion-input>
      </ion-item>

      <!-- <ion-item>
        <ion-label color="primary" stacked>Tempat, Tanggal Lahir</ion-label>
        <ion-input type="text" placeholder="TTL Input" formControlName="txtTTL"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Jenis Kelamin</ion-label>
        <ion-select [(ngModel)]="gender" placeholder="Jenis Kelamin Select" formControlName="selJK">
          <ion-option value="L">Laki-laki</ion-option>
          <ion-option value="P">Perempuan</ion-option>
        </ion-select>
      </ion-item> -->

      <ion-item>
        <ion-label color="primary" stacked>Kelas</ion-label>
        <ion-select [(ngModel)]="selKelas" placeholder="Kelas" formControlName="selKelas">
          <ion-option value="A">A</ion-option>
          <ion-option value="B">B</ion-option>
          <ion-option value="C">C</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Periode</ion-label>
        <ion-select [(ngModel)]="selPeriode" placeholder="Periode" formControlName="selPeriode">
          <ion-option value="2016">2016</ion-option>
          <ion-option value="2017">2017</ion-option>
          <!-- <ion-option value="P2K">P2K</ion-option> -->
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label color="primary" stacked>Peminatan</ion-label>
        <ion-select [(ngModel)]="selPeminatan" placeholder="Peminatan Mahasiswa" formControlName="selPeminatan">
          <ion-option value="Rekayasa Perangkat Lunak (RPL)">Rekayasa Perangkat Lunak (RPL)</ion-option>
          <ion-option value="Jaringan">Jaringan</ion-option>
          <ion-option value="Artificial Intelegence (AI)">Artificial Intelegence (AI)</ion-option>
        </ion-select>
      </ion-item>
      <div class="linedashed">
        <ion-item>
          <ion-label color="primary">Pilih kesesuaian materi Tugas Akhir :</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" stacked>Judul Tugas Akhir</ion-label>
          <ion-input type="text" placeholder="Judul Skripsi Input" formControlName="txtJudulSKripsi"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Materi 1</ion-label>
          <ion-select [(ngModel)]="selKategori1" placeholder="Materi Select" formControlName="selKategori1" style="min-width: 650px">
            <div *ngFor="let item of items">
              <ion-option value="{{item.value}}" *ngIf="item.value != selKategori2 && item.value != selKategori3">{{item.name}} &nbsp;[
                <p style="color:red;">{{item.detail}}</p>]
              </ion-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Materi 2</ion-label>
          <ion-select [(ngModel)]="selKategori2" placeholder="Materi Select" formControlName="selKategori2" class="myCustomSelect">
            <div *ngFor="let item of items">
              <ion-option value="{{item.value}}" *ngIf="item.value != selKategori1 && item.value != selKategori3">{{item.name}} &nbsp;[
                <p style="color:red;">{{item.detail}}</p>]
              </ion-option>
            </div>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary" stacked>Materi 3</ion-label>
          <ion-select [(ngModel)]="selKategori3" placeholder="Materi Select" formControlName="selKategori3">
            <div *ngFor="let item of items">
              <ion-option value="{{item.value}}" *ngIf="item.value != selKategori2 && item.value != selKategori1">{{item.name}} &nbsp;[
                <p style="color:red;">{{item.detail}}</p>]
              </ion-option>
            </div>
          </ion-select>
        </ion-item>
      </div>
    </ion-list>
    <button ion-button round [disabled]="!myForm.valid">Simpan</button>
  </form>
</ion-content>