<!--
  Generated template for the MahasiswaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="secondary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mahasiswa</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="textSearchMember" (ionInput)="searchList($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-item-divider>
    Daftar Mahasiswa
  </ion-item-divider>
  <!-- <ion-item>
    <table border="1" width="100%" style="padding:2px">
      <tr style="text-align:center;height: 50px;background-color: lightgreen;">
        <td></td>
        <td>NIM</td>
        <td>Nama</td>
        <td>Kelas</td>
        <td>Tahun Masuk</td>
        <td>Aksi</td>
      </tr>
      <tr *ngFor="let item of items" style="text-align:center">
        <td style="align:center;">
          <ion-avatar item-left>
            <img src="assets/img/{{item.pictures}}" onerror="this.src='assets/img/no-photo.gif'" />
          </ion-avatar>
        </td>
        <td>
          <p>{{item.nim}}</p>
        </td>
        <td text-wrap>
          <P>{{item.nama}}</P>
        </td>
        <td>
          <P>{{item.kelas}}</P>
        </td>
        <td>
          <P>{{item.periode}}</P>
        </td>
        <td>
          <button ion-button outline item-end (click)="doEditMhs(item.nim);"><ion-icon name="create"></ion-icon></button>
        </td>
      </tr>
    </table>
  </ion-item> -->
  <!--  -->
  <ion-grid>

    <ion-row class="row header">
      <ion-col col-2 class="col" width="5px">NO</ion-col>
      <!-- <ion-col col-2 class="col"></ion-col> -->
      <ion-col col-2 class="col">NIM</ion-col>
      <ion-col col-2 class="col">NAMA</ion-col>
      <ion-col col-2 class="col">KELAS</ion-col>
       <ion-col col-2 class="col">PERIODE</ion-col> 
      <ion-col col-2 class="col">AKSI</ion-col>
    </ion-row>

    <ion-row class="row" *ngFor="let item of items; let i = index" text-wrap>
      <ion-col col-2 class="col">{{i+1}}</ion-col>
      <!-- <ion-col col-2 class="col">
        <ion-avatar item-left>
          <img src="assets/img/{{item.pictures}}" onerror="this.src='assets/img/no-photo.gif'" />
        </ion-avatar>
      </ion-col> -->
      <ion-col col-2 class="col">{{item.nim}}</ion-col>
      <ion-col col-2 class="col">{{item.nama}}</ion-col>
      <ion-col col-2 class="col">{{item.kelas}}</ion-col>
       <ion-col col-2 class="col">{{item.periode}}</ion-col> 
      <ion-col col-2 class="col"><button ion-button outline item-end (click)="doEditMhs(item.nim);"><ion-icon name="create"></ion-icon></button></ion-col>
    </ion-row>

  </ion-grid>
  <!--  -->

  <ion-fab bottom right>
    <button ion-fab mini (click)="doAddMhs();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--infinit -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>