page-edit-mhs {
    .linedashed{
        border-top-style: dashed;
        border-left-style: dashed;
        border-bottom-style: dashed;
        border-right-style: dashed;
        color: gray;
        border-width: thin;
        }
}
